<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How can we help?</title>
</head>
<body>
    <h1>Any questions?</h1><br>
    <form method="POST">

    <label for="issue">Issue</label><br>
        <input type="text" id="issue" name="issue"><br>

    <label for="question">How can we help?</label><br>
        <textarea id="question" name="question"></textarea><br>

    <button type="submit">Submit question</button>
</form>
    <br>
<a href='/'><button class=grey>Return to Main Page</button></a><br>
</body>
</html>