<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question {{  question_id }}</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Question</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Question</th>
    </tr>
    <tr>
        <td>{{ question['title'] }}</td>
        <td>{{ question['message'] }}</td>
    </tr>
</table><br>
<a href="/">Back to main page</a><br>
<a href="{{ url_for("route_add_answer", question_id=question_id) }}">Write an answer</a>
</body>
</html>
