<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>Questions</h1><br>
    <table>
        <tr>
        <th>{{ header['id'] }}</th>
        <th>{{ header['submission_time'] }}</th>
        <th>{{ header['view_number'] }}</th>
        <th>{{ header['vote_number'] }}</th>
        <th>{{ header['title'] }}</th>
        <th>{{ header['message'] }}</th>
        <th>{{ header['image'] }}</th>
        </tr>
        {% for question in questions %}
            <tr>
                <td><a href="/question/{{ question['id'] }}">{{ question['id'] }}</a></td>
                <td>{{ question['submission_time'] }}</td>
                <td>{{ question['view_number'] }}</td>
                <td>{{ question['vote_number'] }}</td>
                <td>{{ question['title'] }}</td>
                <td>{{ question['message'] }}</td>
                <td>{{ question['image'] }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/add-questions">Fire away!</a>

</body>
</html>