<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{#    #width6%_if_not_bootstrap_link#}
    <style type="text/css">
        #element1 {display:inline-block; width:8%; padding:10px}
        #element2 {display:inline-block; width:8%; padding:10px}
</style>
{#    <style>#}
{#        table {#}
{#            font-family: arial, sans-serif;#}
{#            border-collapse: collapse;#}
{#            width: 100%;#}
{#        }#}
{##}
{#        td, th {#}
{#            border: 1px solid #dddddd;#}
{#            text-align: left;#}
{#            padding: 8px;#}
{#        }#}
{##}
{#        tr:nth-child(even) {#}
{#            background-color: #dddddd;#}
{#        }#}
{#    </style>#}
</head>
<body>
<h1>Questions</h1><br>
<div id="element1">
<form method="POST" action="/">
    <label for="options">Options</label><br>
    <select name="options" id="options">
        <option value="id">ID</option>
        <option value="submission_time">Submission time</option>
        <option value="view_number">View number</option>
        <option value="vote_number">Vote number</option>
        <option value="title">Title</option>
        <option value="message">Message</option>
        <option value="image">Image</option>
    </select>
</form>
</div>
<div id="element2">
<form method="POST" action="/">
    <label for="asc_or_desc">Order</label><br>
    <select name="asc_or_desc" id="asc_or_desc">
        <option value="ascending">Ascending</option>
        <option value="descending">Descending</option>
    </select>
</form>
</div>

<div class="card" style="width: 130rem;">
  <div class="card-body">
<table class="table table-striped table-bordered table-responsive">
<thead class="thead-dark">
    <tr>
        <th>{{ header['id'] }}</th>
        <th>{{ header['submission_time'] }}</th>
        <th>{{ header['view_number'] }}</th>
        <th>{{ header['vote_number'] }}</th>
        <th>{{ header['title'] }}</th>
        <th>{{ header['message'] }}</th>
        <th>{{ header['image'] }}</th>
    </tr>
</thead>
    <tbody>
    {% for question in questions %}
        <tr>
            <td><a href="/question/{{ question['id'] }}">{{ question['id'] }}</a></td>
            <td>{{ question['submission_time'] }}</td>
            <td>{{ question['view_number'] }}</td>
            <td>{{ question['vote_number'] }}</td>
            <td>{{ question['title'] }}</td>
            <td>{{ question['message'] }}</td>
            <td>{{ question['image'] }}</td>
        </tr>
    {% endfor %}
</tbody>
</table><br>
{#<a href="/add-questions">Fire away!</a>#}
    </div>
</div><br>
<a href="/add-questions"><button type="button" class="btn btn-danger">Fire away!</button></a><br>

</body>
</html>