<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title> Registration </title>
</head>

<body>
    <h1>Register an account</h1>
    <form action="#" method='POST'>
        <span class="details">Username</span>
        <input type="text" placeholder="Enter your username" name="username" required><br><br>
        <span class="details">Password</span>
        <input type="password" placeholder="Enter your password" name="password" required><br><br>
        <input type="submit" name="Register" value="Sign Up"><br><br>
        <a href='/login'><button id="button2" type="button" class="button" name="">Return</button></a>
    </form>
</body>

</html>